
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.login-hgM {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #17202a;
  box-sizing: border-box;
  padding: 9.8rem 43.7rem 35.73rem 30.6rem;
  width: 100%;
  overflow: hidden;

  .auto-group-myld-EJu {
    margin: 0rem 0rem 1.822rem 2.5rem;
    width: 9.7rem;
    height: 9.2rem;
    position: relative;
    flex-shrink: 0;

    .x-CBB {
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 4.9rem;
      height: 9.2rem;
      cursor: pointer;
      position: absolute;
    }
    .blue-icon-bz1 {
      width: 9.7rem;
      height: 7.2rem;
      position: absolute;
      left: 0;
      top: 1.2rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .group-9-sgd {
    width: 100%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .log-in-to-dardsh-o4V {
      margin: 0rem 84.325rem 5.732rem 0rem;
      font-size: 4.2rem;
      font-weight: 900;
      line-height: 1.1725;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .group-4-CcR {
      padding: 2.904rem 5.231rem 2.834rem 5.231rem;
      width: 100%;
      line-height: 1.275;
      font-family: Abel, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 2.4rem;
      color: #000000;
      background-color: #ffffff;
      border-radius: 0.6rem;
      margin-bottom: 3.1565rem;
      box-sizing: border-box;
      font-weight: 400;
      white-space: nowrap;
      border: solid 0.1rem rgba(0, 0, 0, 0.200000003);
    }
    .group-5-777 {
      font-size: 2.4rem;
      font-weight: 400;
      color: #000000;
      padding: 2.904rem 5.231rem 2.834rem 5.231rem;
      font-family: Abel, 'Source Sans Pro';
      border: solid 0.1rem rgba(0, 0, 0, 0.200000003);
      flex-shrink: 0;
      border-radius: 0.6rem;
      margin-bottom: 3.1565rem;
      line-height: 1.275;
      white-space: nowrap;
      background-color: #ffffff;
      box-sizing: border-box;
      width: 100%;
    }
    .group-8-1bo {
      width: 100%;
      height: 7.5756rem;
      font-weight: 400;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 1.275;
      font-family: Abel, 'Source Sans Pro';
      margin-bottom: 5.0504rem;
      color: #ffffff;
      display: flex;
      background-color: #941df2;
      border-radius: 7.6rem;
      font-size: 2.4rem;
      flex-shrink: 0;
    }
    .sign-up-dNH {
      font-family: Abel, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: right;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.275;
      color: #ffffff;
    }
  }
}
