
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 75rem;
}.sign-up-z25 {
  flex-direction: column;
  background-color: #17202a;
  box-sizing: border-box;
  padding: 2.7rem 4rem 13.4rem 2.2rem;
  width: 100%;
  display: flex;

  .auto-group-jqcd-j85 {
    flex-shrink: 0;
    margin: 0rem 30.5rem 0.7rem 28.6rem;
    width: calc(100% - 59.1rem);

    .blue-icon-oXF {
      width: 9.7rem;
      height: 7.2rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .create-an-account-6FT {
    font-family: Abel, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    flex-shrink: 0;
    margin: 0rem 0rem 3.6rem 1.8rem;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.275;
    color: #f5f5f5;
    align-items: baseline;

    .create-an-account-6FT-sub-0 {
    }
    .create-an-account-6FT-sub-1 {
      color: #f5f5f5;
      font-family: Abel, 'Source Sans Pro';
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.275;
    }
  }
  .group-4-yry {
    font-weight: 400;
    font-family: Abel, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 2.5rem 1.8rem;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.6000000238);
    line-height: 1.275;
    border-radius: 0.6rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.200000003);
    background-color: #ffffff;
    padding: 2.3rem 2rem 1.8rem 2rem;
    width: 67rem;
    font-size: 2.2rem;
  }
  .group-3-MMj {
    font-size: 2.2rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.200000003);
    margin: 0rem 0rem 1.9rem 1.8rem;
    color: rgba(0, 0, 0, 0.6000000238);
    white-space: nowrap;
    flex-shrink: 0;
    padding: 2.3rem 2rem 1.8rem 2rem;
    width: 67rem;
    line-height: 1.275;
    font-family: Abel, 'Source Sans Pro';
    border-radius: 0.6rem;
    box-sizing: border-box;
    font-weight: 400;
    background-color: #ffffff;
  }
  .group-9-Khs {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6000000238);
    font-family: Abel, 'Source Sans Pro';
    white-space: nowrap;
    margin: 0rem 0rem 1.8rem 1.8rem;
    width: 67rem;
    line-height: 1.275;
    padding: 2.3rem 2rem 1.8rem 2rem;
    border-radius: 0.6rem;
    flex-shrink: 0;
    box-sizing: border-box;
    font-size: 2.2rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.200000003);
    background-color: #ffffff;
  }
  .date-of-birth-HHK {
    color: #f5f5f5;
    font-family: Abel, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 1.7rem 1.8rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.275;
  }
  .auto-group-mjt7-yvq {
    margin-bottom: 4rem;
    height: 7rem;
    display: flex;
    column-gap: 2.5rem;
    align-items: center;
    flex-shrink: 0;

    .group-5-71T {
      padding: 2.3rem 2rem 1.8rem 2rem;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.6000000238);
      font-family: Abel, 'Source Sans Pro';
      white-space: nowrap;
      border: solid 0.1rem rgba(0, 0, 0, 0.200000003);
      border-radius: 0.6rem;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 31.2rem;
      background-color: #ffffff;
      height: 100%;
      font-size: 2.2rem;
      line-height: 1.275;
    }
    .group-7-9D3 {
      line-height: 1.275;
      white-space: nowrap;
      border: solid 0.1rem rgba(0, 0, 0, 0.200000003);
      width: 15.9rem;
      height: 100%;
      font-size: 2.2rem;
      border-radius: 0.6rem;
      padding: 2.3rem 2rem 1.8rem 2rem;
      color: rgba(0, 0, 0, 0.6000000238);
      background-color: #ffffff;
      box-sizing: border-box;
      font-weight: 400;
      font-family: Abel, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .group-6-Cx1 {
      border-radius: 0.6rem;
      box-sizing: border-box;
      line-height: 1.275;
      font-family: Abel, 'Source Sans Pro';
      color: rgba(0, 0, 0, 0.6000000238);
      border: solid 0.1rem rgba(0, 0, 0, 0.200000003);
      flex-shrink: 0;
      background-color: #ffffff;
      padding: 2.3rem 2rem 1.8rem 2rem;
      height: 100%;
      white-space: nowrap;
      width: 15.9rem;
      font-size: 2.2rem;
      font-weight: 400;
    }
  }
  .group-8-4zD {
    font-family: Abel, 'Source Sans Pro';
    white-space: nowrap;
    border-radius: 7.6rem;
    flex-shrink: 0;
    margin: 0rem 1.2rem 0rem 0.6rem;
    width: calc(100% - 1.8rem);
    height: 6rem;
    font-size: 2.2rem;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    background-color: #941df2;
    align-items: center;
    line-height: 1.275;
    justify-content: center;
  }
}
